/* simple css reset */
* {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-weight: normal;
}

body {
    color: #444;
    font-size: 13px;
    line-height: 1.538em;
    margin: 0 auto;
    min-width: 780px;
    position: relative;
    font-family: "helvetica neue",arial,helvetica,sans-serif;
    font-style: normal;
}

#left-column {
    width: 20em;
    padding: 1em;
    display: table-cell;
}

#right-column {
    width: 45em;
    padding: 1em;
    display: table-cell;
}

#sidenotes {
    width: 15em;
    display: table-cell;
}

#columns {
    display: table;
    height: 100%;
}

h1,h2,h3 {
    font-family: georgia,serif;
}

#footer {
    background: #555555;
    color: white;
    padding: 0.5em;
}

#footer .full-name {
    font-weight: bold;
}

#footer .chromeless_version {
    font-style: italic;
}

#footer a {
    color: #fff;
}

p, pre {
    margin-bottom: 0.9em;
}

#templates {
    display: none;
}

li {
    margin-left: 2em;
}

strong {
    font-weight: bold;
}

pre, code, kbd, tt, samp, tt {
    font-family: "andale mono",monospace;
    font-size: .9em;
}

a {
    color: #003595;
    text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

#sidenotes span {
    color: #bbb;
    border-left: 1px solid grey;
    position: absolute;
    display: block;
    padding: 0 1em 0 1em;
    margin: 0;
    line-height: 1em;
}

.json-display > div.overlay {
    position: fixed; 
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: #000;
    top:0;
    left:0;
    opacity: .5;
    z-order: 10;
}

.json-display > div.display {
    position: fixed; 
    width: 60%;
    height: 70%;
    top: 11%;
    left: 17%;
    background-color: #444;
    padding: 1%;
    z-order: 20;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border: 1em solid #555;
}

.json-display > div.display > pre {
    width: 100%;
    height: 100%;
    overflow: auto;
    line-height: 1.3em;
    background-color: #444;
}

.json-display {
    display: none;
}
