#right-column h1 {
    font-size: 2.2em;
    margin-bottom: 1em;
}

#right-column h2 {
    color: #C63717;
    font-size: 1.7em;
    margin-bottom: .5em;
    margin-top: 1em;
    line-height: 1em;
}

#right-column h3 {
    color: #C63717;
    font-size: 1.3em;
    margin-bottom: .3em;
    margin-top: .8em;
    line-height: 1em;
}

#right-column {
    color: #444;
}

#right-column pre {
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    padding: 1.0em;
    margin: 1em .8em 1em 0;
    line-height: 1.3em;
    background-color: #444;
}
